extends ../layouts/base

block content
	.content
		.page-inner
			.page-header
				h4.page-title Request Leave
				ul.breadcrumbs
					li.nav-home
						a(href="#")
							i.flaticon-home
					li.separator
						i.flaticon-right-arrow
					li.nav-item
						a(href="#") Request Leave
			br
			.row
				.col-lg-4
					.card.flex-fill
						.card-body.d-flex
							#calendar
				.col-lg-8
					.row 
						.col-lg-12
							//- video#camera(autoplay, playsinline, width="640", height="480")
							//- canvas#canvas
							//- audio#snapSound(src="audio/snap.wav", preload="auto")
							form(method="POST", action="storeImage.php")
								.row
									.col-md-6
										video#camera
										br
										input#checker(type="button", name="checkVision", value="Take Snapshot")
										//- input.image-tag(type="hidden", name="image")
									.col-md-6
										b Your captured image will appear here...
										canvas#canvas
									//- .col-md-12.text-center
									//- 	br
									//- 	button.btn.btn-success Submit
							//- video#camera
							//- canvas#canvas
							//- input#checker(type="checkbox", name="checkVision")
							//- label(for="checkVision") I read tips
					.row 
						.col-lg-12
							.card 
								.card-header 
									.card-head-row
										.card-title Upcoming Holiday
								.card-body
									//- img(src="")
									.upcoming-holiday
										strong 22 November 2023
										p Indicates a dangerous or potentially negative action.
			//-  MODAL SCHEDULE
			#createEventModal.modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							h3 
								b Create Schedule
							button.close(type="button", data-dismiss="modal")
								span(aria-hidden="true")
									i.fas.fa-window-close
								span.sr-only close
						#modalBody.modal-body
							.form-group
								label
									| Name
									span.text-danger *
								input#user_id.form-control(type="hidden", value = session.user_id, required)
								input#name.form-control(type="text", value = session.name, disabled)
							.form-group
								label
									| Type Of Permit
									span.text-danger *
								select#chemical.select2.form-control(name="chemical")
									option(value="pupuk") Terlambat masuk (antara pkl 8.16-8.30 WIB)
									option(value="insectisdia") Ijin untuk keperluan pribadi di jam kerja (berangkat siang/pulang awal/ijin keluar di tengah jam kerja)
									option(value="fungisida") Ijin tidak masuk kerja (1 hari) atau ijin sakit tanpa surat dokter
									option(value="akarisida") Ijin keluar kantor untuk keperluan perusahaan (misal membeli barang)
									option(value="bakterisida") Ijin sakit dengan Surat Keterangan Dokter / SKD - WAJIB melampirkan SKD di kolom bawah
									option(value="moluskisida") WFH
							.form-group
								label
									| Description
									span.text-danger *
								textarea#description.form-control(rows='5', name='description', required)
								br
								//- input(type="button", value="Delete", onclick="DeleteMarkers()")
						.modal-footer
							button.btn(data-dismiss="modal", aria-hidden="true") Cancel
							button#submitButton.btn.btn-dark(type="submit") Save

			#calendarModal.modal.fade
				.modal-dialog
					.modal-content
						.modal-header
							h3 
								b Schedule Detail
							button.close(type="button", data-dismiss="modal")
								span(aria-hidden="true")
									i.fas.fa-window-close
								span.sr-only close
						#modalBody.modal-body
							h5 
								b Name 
							p#name_title
							h5 
								b Type Of Permit
							p#type_permit

	script.
		$(document).ready(function(){
			var webCamElement = document.getElementById("camera");
			var canvasElement = document.getElementById("canvas");
			const webcam = new Webcam(webCamElement, 'user', canvasElement, null);
			
			//$('#camera').style.display="none";
			//$('#camera').attr('visibility', 'hidden');
			//$('#camera').attr('display', 'block');
		
			//- $('#camera').css('visibility', 'hidden');

			webcam.start();
			$('#checker').click(function(){
				var picture = webcam.snap();
				var resize = resizedataURL(picture, 150, 130);
				alert(resize);
				//- $.post('TestCamera', {param: picture}, function(response){
				//- 	if (response === 'error'){
				//- 		alert('Error you should stay in front of camera');
				//- 	}else{
				//- 		window.location.replace('QuestionAndAnalyze.jsp'); /* redirect*/
				//- 	}
				//- }); /*END servletCall*/
			}); /*END click*/
			
		});/* END ready*/

		function resizedataURL(datas, wantedWidth, wantedHeight){
			var img = document.createElement('img');
			img.onload = function(){
				var canvas = document.createElement('canvas');
				var ctx = canvas.getContext('2d');
				canvas.width = wantedWidth;
				canvas.height = wantedHeight;
				ctx.drawImage(this, 0, 0, wantedWidth, wantedHeight);
				var dataURI = canvas.toDataURL();
				console.log({dataURI})
				return dataURI;
			};
			img.src = datas;
		}

	script.
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var form = '';
		var today = new Date($.now());

		var defaultEvents =  [
			{
				title: 'Nova Zaky Fathoni',
				start: new Date($.now() + 158000000),
				end: new Date($.now() + 238000000),
				className: 'bg-dark',
				description: {
					type_permit: 'Ijin tidak masuk kerja (1 hari) atau ijin sakit tanpa surat dokter'
				}
			}, 
			{
				title: 'See John Deo',
				start: today,
				end: today,
				className: 'bg-danger',
				description: {
					type_permit: 'Ijin tidak masuk kerja (1 hari) atau ijin sakit tanpa surat dokter'
				}
			}, 
			{
				title: 'See John dsadsa',
				start:new Date(),
				end: today,
				className: 'bg-danger',
				description: {
					type_permit: 'Ijin tidak masuk kerja (1 hari) atau ijin sakit tanpa surat dokter'
				}
			},
			{
				title: 'Nova Zaky Fathoni',
				start: new Date($.now() + 338000000),
				className: 'bg-primary',
				description: {
					type_permit: 'Ijin tidak masuk kerja (1 hari) atau ijin sakit tanpa surat dokter'
				}
			}
		];
		$(document).ready(function() {
			$('#calendar').fullCalendar({
				events: defaultEvents,
				editable: true,
				eventLimit: true,
				header: {
					left: 'title',
					center: '',
					right: 'today prev,next'
				},
				navLinks: true, // can click day/week names to navigate views
				displayEventTime: false,
				eventRender: function (event, element, view) {
					if (event.allDay === 'true') {
						event.allDay = true;
					} else {
						event.allDay = false;
					}
				},
				selectable: true,
				select: function(start, end, jsEvent, view) {
					// start contains the date you have selected
					// end contains the end date. 
					// Caution: the end date is exclusive (new since v2).
					//- var allDay = !start.hasTime() && !end.hasTime();
					//- alert(["Event Start date: " + moment(start).format(),
					//- 		"Event End date: " + moment(end).format(),
					//- 		"AllDay: " + allDay].join("\n"));
					sessionStorage.setItem('start_date', start.toISOString());
					sessionStorage.setItem('end_date', end.toISOString());
					$('#createEventModal').modal('show');
				},
				eventDrop: function (event, delta, revertFunc) {

				},

				//When u resize an event in the calendar do the following:
				eventResize: function (event, delta, revertFunc) {
					//do something when event is resized
				},

				eventRender: function(event, element) {
					$(element).tooltip({title: event.title});             
				},

				//Activating modal for 'when an event is clicked'
				eventClick: function (event) {
					console.log({event})
					var date = new Date(event.start._d);
					var d = date.getDate();
					var m = date.getMonth();
					var y = date.getFullYear();
					const start_date = d+'-'+m+'-'+y
					$('#name_title').html(`${event.title}`);
					$('#type_permit').html(`${event.description.type_permit}`);

					$('#calendarModal').modal();
				},
			});
		});