footer.footer
	.container-fluid
		span.pull-left
			| System Information Management of Aero Versum Group
		.copyright.ml-auto
			| Supported by
			|
			a(href="https://beehivedrones.com", target="_blank") Beehivedrones