meta(http-equiv="X-UA-Compatible", content="IE=edge")
title Beehive Employee Dashboard
meta(content="width=device-width, initial-scale=1.0, shrink-to-fit=no", name="viewport")
link(rel="icon", href="/assets/images/icon-aero2.png", type="image/x-icon")
// Fonts and icons
// CSS Files
link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
//- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")

link(rel="stylesheet", href="/assets/css/atlantis.min.css")
// CSS Just for demo purpose, don't include it in your project
link(rel="stylesheet", href="/assets/css/demo.css")
//- link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css", integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=", crossorigin='')
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="/assets/css/custom2.css")
link(href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css", rel="stylesheet")
//- link(rel="stylesheet", href="/assets/css/Control.FullScreen.css")
//- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
//- script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js", integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=", crossorigin='')
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js")
//- script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")
//- script(src="/assets/js/Control.FullScreen.js")
script(src="/assets/js/plugin/webfont/webfont.min.js")

//- webcam
script(src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.min.js")
//- script(src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js")

//- script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js", integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=", crossorigin='')
script.
	WebFont.load({
		google: {"families":["Lato:300,400,700,900"]},
		custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css']},
		active: function() {
			sessionStorage.fonts = true;
		}
	});

//- script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js")
