.main-header
	// Logo Header
	.logo-header(data-background-color="dark")
		a.logo(href="#")
			// <img src="../assets/img/aero-white.png" alt="navbar brand" class="navbar-brand">
			//- h2(style="color: white;") Logo
			img.navbar-brand(src="/assets/images/nav-logo.png", alt="logo", height="60")
		button.navbar-toggler.sidenav-toggler.ml-auto(type="button", data-toggle="collapse", data-target="collapse", aria-expanded="false", aria-label="Toggle navigation")
			span.navbar-toggler-icon
				i.icon-menu
		button.topbar-toggler.more
			i.icon-options-vertical
		.nav-toggle
			button.btn.btn-toggle.toggle-sidebar
				i.icon-menu
	// End Logo Header
	// Navbar Header
	nav.navbar.navbar-header.navbar-expand-lg(data-background-color="dark")
		.container-fluid
			#search-nav.collapse
				form.navbar-left.navbar-form.nav-search.mr-md-3
					.input-group
						.input-group-prepend
							button.btn.btn-search.pr-1(type="submit")
								i.fa.fa-search.search-icon
						input.form-control(type="text", placeholder="Search ...")
			ul.navbar-nav.topbar-nav.ml-md-auto.align-items-center
				li.nav-item.toggle-nav-search.hidden-caret
					a.nav-link(data-toggle="collapse", href="#search-nav", role="button", aria-expanded="false", aria-controls="search-nav")
						i.fa.fa-search
				li.nav-item.dropdown.hidden-caret
					a#messageDropdown.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
						i.fa.fa-envelope
					ul.dropdown-menu.messages-notif-box.animated.fadeIn(aria-labelledby="messageDropdown")
						li
							.dropdown-title.d-flex.justify-content-between.align-items-center
								| Messages
								a.small(href="#") Mark all as read
						li
							.message-notif-scroll.scrollbar-outer
								.notif-center
									a(href="#")
										.notif-img
											img(src="/assets/images/avatar/jm_denis.jpg", alt="Img Profile")
										.notif-content
											span.subject Jimmy Denis
											span.block
												| How are you ?
											span.time 5 minutes ago
									a(href="#")
										.notif-img
											img(src="/assets/images/avatar/chadengle.jpg", alt="Img Profile")
										.notif-content
											span.subject Chad
											span.block
												| Ok, Thanks !
											span.time 12 minutes ago
									a(href="#")
										.notif-img
											img(src="/assets/images/avatar/mlane.jpg", alt="Img Profile")
										.notif-content
											span.subject Jhon Doe
											span.block
												| Ready for the meeting today...
											span.time 12 minutes ago
									a(href="#")
										.notif-img
											img(src="/assets/images/avatar/talha.jpg", alt="Img Profile")
										.notif-content
											span.subject Talha
											span.block
												| Hi, Apa Kabar ?
											span.time 17 minutes ago
						li
							a.see-all(href="javascript:void(0);") See all messages
								i.fa.fa-angle-right

				li.nav-item.dropdown.hidden-caret
					a#notifDropdown.nav-link.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
						i.fa.fa-bell
						span.notification 4
					ul.dropdown-menu.notif-box.animated.fadeIn(aria-labelledby="notifDropdown")
						li
							.dropdown-title You have 4 new notification
						li
							.notif-scroll.scrollbar-outer
								.notif-center
									a(href="#")
										.notif-icon.notif-primary
											i.fa.fa-user-plus
										.notif-content
											span.block
												| New user registered
											span.time 5 minutes ago
						li
							a.see-all(href="javascript:void(0);") See all notifications
								i.fa.fa-angle-right
				li.nav-item.dropdown.hidden-caret
					a.dropdown-toggle.profile-pic(data-toggle="dropdown", href="#", aria-expanded="false")
						.avatar-sm.avatar-online
							img.avatar-img.rounded-circle(src="/photos/"+session.photo, alt="...")
					ul.dropdown-menu.dropdown-user.animated.fadeIn
						.dropdown-user-scroll.scrollbar-outer
							li
								.user-box
									.avatar-sm
										img.avatar-img.rounded(src="/photos/"+session.photo, alt="image profile")
									.u-text
										h4  #{session.name}
										p.text-muted #{session.email}
							.dropdown-divider
							li
								a.dropdown-item(href="/web/v1/auth/profile") My Profile
								a.dropdown-item(href="#") Account Setting
								.dropdown-divider
								a.dropdown-item(href="/web/v1/auth/logout", onclick='logout()') Logout
	// End Navbar