li.nav-item
	a(data-toggle="collapse", href="#sub-employees")
		i.fas.fa-users
		p Employees
		span.caret
	#sub-employees.collapse
		ul.nav.nav-collapse
			//- li
			//- 	a(href="/web/v1/positions")
			//- 		span.sub-item Positions
			li
				a(href="/web/v1/employees")
					span.sub-item List Employees
			li
				a(href="/web/v1/attendances")
					span.sub-item Attendances
//- li.nav-item
//- 	a(href="/web/v1/chats")
//- 		i.fas.fa-comment-alt
//- 		p Chat
//- li.nav-item
//- 	a(href="/web/v1/schedules")
//- 		i.fas.fa-calendar-alt
//- 		p Schedule
//- li.nav-item
//- 	a(data-toggle="collapse", href="#sub-complaint")
//- 		i.fas.fa-briefcase
//- 		p Form Complaint
//- 		span.caret
//- 	#sub-complaint.collapse
//- 		ul.nav.nav-collapse
//- 			li
//- 				a(href="/web/v1/complaints/inbounds")
//- 					span.sub-item Inbounds
//- 			li
//- 				a(href="/web/v1/complaints/outbounds")
//- 					span.sub-item Outbounds