doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", href="./style.css")
		style.
			/* style.css file*/
			body {
				display: flex;
				justify-content: center;
				margin: 0;
				padding: 0;
				height: 100vh;
				box-sizing: border-box;
				text-align: center;
				background: rgb(128 0 0 / 66%);
			}
			.container {
				width: 100%;
				max-width: 500px;
				margin: 5px;
			}

			.container h1 {
				color: #ffffff;
			}

			.section {
				background-color: #ffffff;
				padding: 50px 30px;
				border: 1.5px solid #b2b2b2;
				border-radius: 0.25em;
				box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
			}

			#my-qr-reader {
				padding: 20px !important;
				border: 1.5px solid #b2b2b2 !important;
				border-radius: 8px;
			}

			#my-qr-reader img[alt="Info icon"] {
				display: none;
			}

			#my-qr-reader img[alt="Camera based scan"] {
				width: 100px !important;
				height: 100px !important;
			}

			button {
				padding: 10px 20px;
				border: 1px solid #b2b2b2;
				outline: none;
				border-radius: 0.25em;
				color: white;
				font-size: 15px;
				cursor: pointer;
				margin-top: 15px;
				margin-bottom: 10px;
				background-color: #008000ad;
				transition: 0.3s background-color;
			}

			button:hover {
				background-color: #008000;
			}

			#html5-qrcode-anchor-scan-type-change {
				text-decoration: none !important;
				color: #1d9bf0;
			}

			video {
				width: 100% !important;
				border: 1px solid #b2b2b2 !important;
				border-radius: 0.25em;
			}

			/* The Modal (background) */
			.modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				padding-top: 100px; /* Location of the box */
				left: 0;
				top: 0;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
				overflow: auto; /* Enable scroll if needed */
				background-color: rgb(0,0,0); /* Fallback color */
				background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
			}

			/* Modal Content */
			.modal-content {
				background-color: #fefefe;
				margin: auto;
				padding: 20px;
				border: 1px solid #888;
				width: 50%;
			}

			/* The Close Button */
			.close {
				color: #aaaaaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}

			.close:hover,
			.close:focus {
				color: #000;
				text-decoration: none;
				cursor: pointer;
			}

		title
			| QR Code Scanner / Reader

	body
		.container
			//- h1 Scan QR Codes
			.section
				#my-qr-reader

			#myModal.modal
				// Modal content
				.modal-content
					span.close X
					p Some text in the Modal..

		script(src="https://unpkg.com/html5-qrcode").
			
		//- script(src="./script.js")
		script.
			var modal = document.getElementById("myModal");
			var span = document.getElementsByClassName("close")[0];
			function domReady(fn) {
				console.log({fn})
				if (
					document.readyState === "complete" ||
					document.readyState === "interactive"
				) {
					setTimeout(fn, 1000);
				} else {
					document.addEventListener("DOMContentLoaded", fn);
				}
			}
			
			domReady(function () {
			
				// If found you qr code
				function onScanSuccess(decodeText, decodeResult) {
					//- alert("You Qr is : " + decodeText, decodeResult);
					modal.style.display = "block";

					console.log(`Scan result: ${decodedText}`, decodedResult);

				}
			
				let htmlscanner = new Html5QrcodeScanner(
					"my-qr-reader",
					{ fps: 10, qrbos: 250 }
				);
				htmlscanner.render(onScanSuccess);
			});

			span.onclick = function() {
				modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
				if (event.target == modal) {
					modal.style.display = "none";
				}
			}